@model TonyModel
@{
    Layout = "_LayoutAndy";
}
<h1>Display Page</h1>
<p class="bubble">This is Tony's domain</p>

    <p>Hello, @Model.Name_Tony</p>
    <a asp-controller="Home" asp-action="Index">This will take you back home.</a>

