@model AndyModel

<p>hello</p>
<p>Welcome To The Class RPG Project</p>
<p><a asp-controller="Andy">This will take you to the andy page</a></p>
<p><a asp-controller="Harry">This will take you to the harry page</a></p>
<p><a asp-controller="Jeff">This will take you to the Jeff page</a></p>
<p><a asp-controller="Garrett">This will take you to gart page</a></p>
<p><a asp-controller ="Rohan"> Rohan's page</a></p>
<p><a asp-controller="Logan">This will take you to the logan page</a></p>
<p><a asp-controller="Jordan">This will take you to the best page (Jordan)</a></p>
<p><a asp-controller="Tony">This will take you to the tony page</a> </p>
<p><a asp-controller="Dustin"> Dustin's page</a></p>
<p><a asp-controller="Reaenn">This will take you to Reaenn page</a></p>
<p>Problems</p>
<p><a asp-controller="Firaol">This will take you to the Firaol page</a></p>

<p><a asp-controller="Xavier">This will take you to the Xavier page</a></p>
