@model AndyModel

<p>hello</p>
<p>Welcome To The Class RPG Project</p>
<p><a asp-controller="Andy">This will take you to the andy page</a></p>
<p>Ohno</p>
<p>Problems</p>
<p><a asp-controller="Firaol">This will take you to the Firaol page</a></p>

