@model AndyModel

<p>hello</p>
<p>Welcome To The Class RPG Project</p>
<p><a asp-controller="Andy">This will take you to the andy page</a></p>
<p><a asp-controller="Tony">This will take you to the tony page</a> </p>