@model AndyModel

<p>hello</p>
<p>Welcome To The Class RPG Project</p>
<p><a asp-controller="Andy">This will take you to the andy page</a></p>
<p><a asp-controller="Jeff">This will take you to the Jeff page</a></p>